.divMain{
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 5em;
}

#btnSignup{
    background-color:#FE9A2E;
    font-family: 'GmarketSansMedium';
    border-radius: 25px;
    width: 100%;
    height: 3em;
    color: white;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .login-image {
    display: flex;
    justify-content: center;
  }
  
  .image-3 {
    animation: bouncing-image-3 3s ease-in-out infinite;
  }
  
  @keyframes bouncing-image-3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .speech-bubble:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #fff transparent transparent transparent;
    bottom: -10px;
    right: 200px;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .speech-bubble {
    position: absolute;
    top: 40px;
    left: calc(50% + 80px);
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: bouncing-image 2.5s ease-in-out infinite;
    z-index: 1;
  }
  
  .speech-bubble p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
  }
  
  @keyframes bouncing-image {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }


  .speech-bubble2:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #fff transparent transparent transparent;
    bottom: -10px;
    right: 200px;
  }
  
  .speech-bubble2 {
    position: absolute;
    top: 150px;
    left: calc(50% + 80px);
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: bouncing-image2 2s ease-in-out infinite;
    z-index: 1;
  }
  
  .speech-bubble2 p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
  }
  
  @keyframes bouncing-image2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }