.mainContainer{
    height: 100vh;
}

.mainCenter{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
    border-radius: 25px;
    background-color: white;
    width: 40%;
    height: 90vh;
    margin:  5em auto;
    padding: 1px;
}

.mainHeader{
    display: flex;
    justify-content: space-between;
    margin: 2em;
    font-weight: 900;
}


a{
    color: black;
    text-decoration: none;
}


a:hover{
    color: #FF8000;
    text-decoration: none;
}


.divMain{
    margin: 2em;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }